@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');

$accent-1: hsl(263, 55%, 52%);
$accent-2: hsl(217, 19%, 35%);
$accent-3: hsl(219, 29%, 14%);
$accent-4: hsl(0, 0%, 100%);

$neutral-100: hsl(210, 46%, 95%);
$neutral-400: hsl(0, 0%, 81%);

$font-size: 13px;
$font-family: "Barlow Semi Condensed", sans-serif;
$font-weight-medium: 500;
$font-weight-semibold: 600;